<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
<h2>회원 정보 페이지</h2>
<p th:text="${user != null ? user.nickname + '님' : 'User not found'}"></p>
<a th:href="@{/user/edit}"><button>⚙</button></a>
<h3>주문내역</h3>
<a th:href="@{/order/orderlist}"><button>주문 목록 보기</button></a>
<div id="orderList">

    <!--
    <h3>주문 목록</h3> 
    <ul>
        <th:block th:each="order : ${orders}">
            <li>
                <span th:text="${order.itemName}"></span> -
                <span th:text="${order.orderDate}"></span> -
                <span th:text="${order.totalPrice}"></span>
            </li>
        </th:block>
    </ul>
    -->
</div>
</body>

</html>
