<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

<link rel="stylesheet" href="/cart/css/style.css">
<head>
    <title>장바구니</title>
</head>
<body>
<h2>장바구니 목록</h2>

<table border="1">
    <tr>
        <th>상품ID</th>
        <th>수량</th>
        <th>담은 날짜</th>
        <th>삭제</th>
    </tr>
    <tr th:each="item : ${cartList}">
        <td th:text="${item.productId}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${#temporals.format(item.addedDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td>
            <form th:action="@{/cart/remove}" method="post">
                <input type="hidden" name="cartId" th:value="${item.cartId}">
                <input type="submit" value="삭제">
            </form>
        </td>
    </tr>
</table>
</body>
</html>
