<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart.repository.CartMapper">

    <select id="selectCartList" resultType="cart.model.CartItem">
        SELECT * FROM cart WHERE user_id = #{userId}
    </select>

    <insert id="insertCartItem">
        INSERT INTO cart (user_id, product_id, quantity)
        VALUES (#{userId}, #{productId}, #{quantity})
    </insert>

    <delete id="deleteCartItem">
        DELETE FROM cart WHERE cart_id = #{cartId}
    </delete>

</mapper>

 <!-- cart db 
 
CREATE TABLE cart (
    cart_id NUMBER PRIMARY KEY,
    user_id VARCHAR2(50) NOT NULL,
    product_id NUMBER NOT NULL,
    quantity NUMBER DEFAULT 1,
    added_date DATE DEFAULT SYSDATE
);

CREATE SEQUENCE cart_seq;

 insert into member values('admin',xxxxx,'admin@gmail.com'
 ,'ROLE_ADMIN',sysdate);
 -->